@import './setting';

@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-rendering: optimizeLegibility;
    overflow-x: hidden;
}


body {
    background-color: $darken-blue;
    color: white;
    font-family: 'Poppins', sans-serif;
}

button {
    cursor: pointer;
}

