// SIZES
$small-size: 1.2rem;
$medium-size: 1.6rem;
$large-size: 2.4rem;
$xlarge-size: 3.2rem;
$xxlarge-size: 4.8rem;

//COLOR
$darken-blue: #003554;
$sky-blue: #006494;
$dark-blue: #00a6fb;
$light-blue: #0582ca;